<div>
  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>
 
  <p>
    <strong>price:</strong>
    <%= @product.price %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @product.description%>
  </p>
  <p style="color:red">
    <strong>No of orders for this product is :</strong>
    <%= Myorder.where('myproduct_id=?',@product).count %>
  </p>
  <div>
    <% Myorder.where('myproduct_id=?',@product).each do |order| %>
    <p>
      <strong>Order Id:</strong>
      <%= order.id%>
    </p>
    <p>
      <strong>Quantity Id:</strong>
      <%= order.quantity%>
    </p>
    <p>
      <strong>Total Price:</strong>
      <%= order.total_price%>
    </p>
    <p>-----------------------------------</p>
    <% end %>
  </div>
</div>

<div>
  <%= link_to 'Add order details',myproduct_myorders_path(@product) %>|
  <%= link_to "Edit this product", edit_myproduct_path(@product) %> |
  <%= link_to "Back to products", myproducts_path %>
  <%= #link_to "Delete", @product, method: :delete, data: { confirm: "Really?" } 
  %>
  <%= button_to "Destroy this product", @product, method: :delete %>
</div>

