<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  <title> Students </title>
</head>
<body>
  <center>
    <h1>Employee Summary  </h1>
    <table  class="table table-primary">
      <tr><td>List Employees having age > 20 and < 40</td><td><%=Employee.where('age > 20 and age <40').count %></td></tr>
      <tr><td>List Employees which are full time Avaialable</td><td><%=Employee.where(full_time_available:'Yes').count %></td></tr>
      <tr><td>List employees which have exact 5 number of orders and age>25</td><td><%=Employee.where('no_of_order=5 and age>25').count%></td></tr>
      <tr><td>List employees which are created before today</td><td><%=Employee.where("created_at < ?", 1.days.ago).count %></td></tr>
      <tr><td>List employees which have exact 5 number of orders and age<25</td><td><%=Employee.where('no_of_order=5 and age<25').count%></td></tr>
      <tr>
        <td>List employees in descending order by age<25</td>
        <td><%=Employee.order('age desc').pluck(:first_name,:age)%></td>
      </tr>
      <tr>
        <td>List employees in ascending order by number of order</td>
        <td><%=Employee.order(:no_of_order).pluck(:first_name,:no_of_order)%></td>
      </tr>
      <tr>
        <td>List employees having salary>45000</td>
        <td><%=Employee.where('salary > 45000').pluck(:first_name,:salary)%></td>
      </tr>
      <tr>
        <td>Group employees by no_of_order with them and display employee with no_of_order>5</td>
        <td><%=Employee.group(:no_of_order).having("Count(*)>5").pluck(:no_of_order)%></td>
      </tr>
      <tr>
        <td>Employee.where('id >4').order('id desc').unscope(:order).pluck(:id)</td>
        <td><%=Employee.where('id >4').order('id desc').unscope(:order).pluck(:id)%></td>
      </tr>
      <tr>
        <td>Employee.where('id >4').order('id desc').only(:order).pluck(:id)</td>
        <td><%=Employee.where('id >4').order('id desc').only(:order).pluck(:id)%></td>
      </tr>
      <tr>
        <td>Employee.select('id >4').reselect(:id,:first_name)</td>
        <td><%=Employee.select('id >4').reselect(:id,:first_name).pluck(:id,:first_name)%></td>
      </tr>
      <tr>
        <td>Employee.order('id desc').reorder(:id).pluck(:id)</td>
        <td><%=Employee.order('id desc').reorder(:id).pluck(:id)%></td>
      </tr>
    </table>
    <%= button_to "Home", employees_path, class:"btn btn-primary", method: 'get'%>
  </center>
</body>
</html>
