<ul>
  <li><%= link_to "Authors", authors_path %></li>
  <li><%= link_to "Books", books_path %></li> 
  <li><%= link_to "Images", images_path %></li>
<<<<<<< HEAD
  <li><%= link_to "Students", students_path %></li>
  <li><%= link_to "Faculties", faculties_path %></li>
=======
>>>>>>> d624882100b8bd72346d3bce20bac6fb96d2a722
</ul>
