<h1>Advance active record query interface assignment</h1>
<p> <%= link_to "Products\' Details", products_path %></p>
<p> <%= link_to "Customers\' Details", customers_path %></p>
<p> <%= link_to "Orders\' Details", orders_path %></p>
<p> <%= link_to "most sales product by quantity", most_sales_product_by_quantity_products_path %></p>
<p> <%= link_to "most sales product by price", most_sales_product_by_price_products_path %></p>
<p> <%= link_to "most_booked_order_of_product_orders_path", most_booked_order_of_product_orders_path %></p>
<p> <%= link_to "min_cancelled_order_of_product_orders_path", min_cancelled_order_of_product_orders_path %></p>
