<style>
div{
    margin:4px;
}
</style>
<h2>new faculty</h2>
<%= form_with(model: @faculty) do |form| %>
  <% if @faculty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@faculty.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% @faculty.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div>
      <%= form.label :first_name, style: "display: block" %>
      <%= form.text_field :first_name %>
    </div>
  
    <div>   
      <%= form.label :last_name, style: "display: block" %>
      <%= form.text_field :last_name %>
    </div>
    
    <div>
      <%= form.label :DOB, style: "display: block" %>
      <%= form.date_field :DOB %>
    </div>
    
    <div>
      <%= form.label :designation, style: "display: block" %>
      <%= form.select :designation, ['Ass. Prof', 'Prof']%>
    </div>
    <div>
      <%= form.label :email_id, style: "display: block" %> 
      <%=form.text_field :email_id%>
    </div>

    <div>
      <%= form.label :phone, style: "display: block" %> 
      <%=form.text_field:phone%>
    </div>
    <div>
      <br/><%= form.submit %>
    </div>
<% end %>

 