<%= form_with(model: @user, method: :patch, url:update_pw_user2_path) do |form| %>
  <%= form.label :password,"Enter your previous password" %><br>
  <%= form.password_field :password%><br>
  <%= form.label :new_password,"Enter New Password" %><br>
  <%= form.password_field :new_password%><br>
  <%= form.label :password_confirmation,"Enter New Confirm Password" %><br>
  <%= form.password_field :password_confirmation%><br>
  <%= form.submit %>
<% end %>

<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li style="color:red;"><%= error %></li>
    <% end %>
  </ul>
<% end %>
<script>
 
</script>