<table class="table table-striped">
    <tr><center>Employees Details </center></tr>
    <tr class="table table-dark">
    <td>Employee Id</td><td>Name</td><td>Email</td><td>Show</td>  
    <td>Edit</td><td>Delete</td> 
    </tr>
    <% @employees.each do |s| %>
      <tr>
        <td><%=s.id %></td>
        <td><%=s.employee_name %></td>
        <td><%=s.email %></td>
        <td><%= button_to 'Show', form_helper_employee_path(s), method: 'get',class:"btn btn-info"%></td>
        <td><%= button_to 'Edit', edit_form_helper_employee_path(s), method: 'get',class:"btn btn-dark"%></td>
        <td><%= button_to 'Remove', form_helper_employee_path(s), method: 'delete',class:"btn btn-danger"%></td>  
      </tr>
    <% end %>
  </table>
  <%= link_to "Add a New Employee", new_form_helper_employee_path %>
