<h2>Event Details </h2>
<div>
  <p>
    <strong>Event Id:</strong>
    <%= @event.id %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= @event.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @event.description%>
  </p>
  <p>
    <strong>Event Date:</strong>
    <%= @event.event_date %>
  </p>
  <p>
    <strong>user id </strong>
    <%= @event.user_id %>
  </p>
  <div><strong>Add comments: </strong>
  <%= form_with(url: add_comments_events_path, method: "get") do |form| %>
    <%= form.text_field :content %>
    <%= form.hidden_field :event_id, value: @event.id %>
    <%= form.submit("add comment") %>
  <% end %>
  </div>
  <p>
    <strong>Comments:</strong><br/>
    <% @event.comments.each do |comment| %>
      <%=comment.content %><br/>
    <% end %>
  </p>
</div>

<div>
  <% if logged_in? %>
    <%= link_to "Back to events", user_path(session[:user_id])  %>
  <% else %>
    <%= link_to "Back to events", events_path  %>
  <% end %>

  <%= button_to "Destroy this event", @event, method: :delete %>
</div>
