<p style="color:red;">Top 3 customers who has max sum of Total Price </p>
<% Order.select("customer_id, sum(total_price) as Sum_of_Total_Price").group("customer_id").order(Sum_of_Total_Price: :desc).first(3).each do |a| %>
  <p>
    <strong> Sum_of_Total_Price:</strong>
    <%= a.Sum_of_Total_Price %>
  </p>
  <p>
    <strong>First Name:</strong>
    <%= a.customer.fname %>
  </p>
  <p>
    <strong>Last Name:</strong>
    <%= a.customer.lname %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= a.customer.email%>
  </p>
  <p>
    <strong>Phone Number:</strong>
    <%= a.customer.phone_number %>
  </p>
  <p>----------------------------------------------------------------</p>
<% end %>