<p style="color: green"><%= notice %></p>
<h2>Product Details </h2>
<%= render @product %>

<div>
  <%= link_to "Edit this product", edit_product_path(@product) %> <br/><br/>
  <%= link_to "Back to products", products_path %><br/><br/>

  <%= button_to "Destroy this product", @product, method: :delete %>
</div>
